.modal {
    background-color: #ffffff;
    width: 600px;
    height: 700px;
    padding-left: 23%;
    margin: 0 auto;
    margin-top: 5%;
    /* top: calc(100% - 700px);
    left: 50%;
    right: auto;
    bottom: auto; */
    /* padding: 0; */
    border: none;
    outline: none;
}
.ReactModal__Overlay--after-open{
    overflow: scroll;
}
.ReactModal__Body--open {
    overflow: hidden;
}
.menu {
    z-index: 101;
    outline: none;
}
@media screen and (max-width: 1200px) {
    .modal {
        width: 70%;
        height: 86%;
        margin-left: 15%;
        margin-top: 10%;
        padding: 0;

    }
}
@media screen and (max-width: 992px) {
    .modal {
        width: 70%;
        height: 82%;
        margin-left: 15%;
        margin-top: 10%;
    }
}
@media screen and (max-width: 768px) {
    .modal {
        width: 70%;
        height: 80%;
        margin-left: 15%;
        margin-top: 10%;
    }
}
@media screen and (max-width: 600px) {
    .modal {
        width: 90%;
        height: 80%;
        margin-left: 5%;
        margin-top: 10%;
    }
}
@media screen and (max-width: 450px) {
    .modal {
        width: 90%;
        height: 80%;
        margin-left: 5%;
        margin-top: 15%;
    }
}
/* ReactModal__Content ReactModal__Content--after-open */